<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/meta-data.html :: meta-data"></th:block>
    <link type="text/css" th:href="@{/css/base.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/bookList.css}" rel="stylesheet">
</head>

<body>
<!-- header -->
<th:block th:replace="fragments/header.html :: header-section"></th:block>

<!-- banner -->
<div class="page-banner-section section">
    <div class="container">
        <div class="page-banner text-center">
            <h1 class="page-banner-title">Books</h1>
        </div>
    </div>
</div>

<!-- main -->
<div class="book-section main-section section">
    <div class="container">
        <div class="book-wrap grid row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-5" th:each="book:${bookList}">
                <div class="book-item">
                    <div class="book-item-image text-center">
                        <img class="align-middle" th:src="@{/img/book_image1.jpg}" alt="이미지">
                    </div>
                    <div class="book-item-content">
                        <div class="book-name" th:text="${book.name}"></div>
                        <div class="book-price" th:text="${book.price}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<th:block th:replace="fragments/footer.html :: footer-section"></th:block>

</body>
</html>