
body {
    min-width: 768px;
}

ul {
    list-style:none;
    padding-left:0px;
}

li {
    display: inline-block;
}

.section {
    width: 100%;
    float: none;
}

.container {
    width: 960px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



/* header-section */
.header-section {
    height: 60px;
    background-color: #f7f7f7;
}

.header-items {
    display: inline-block;
    align-items: center;
}

.header-logo-image {
    width: auto;
    height: 60px;
    float: left;
}

.header-action {
    float: right;
    margin-top: 20px;
}

.header-action-items {
    display: inline-block;
    font-size: 18px;
    padding: 0 10px;
}


/* page-banner-section */
.page-banner-section {
    background-color: darkcyan;
    padding-top: 35px;
    padding-bottom: 35px;
}

.page-banner-title {
    font-size: 48px;
}


/* main-section */
.main-section {
    padding-top: 40px;
    padding-bottom: 40px;
}


/* footer-section */
.footer-section {
    background-color: black;
    height: 300px;
}
