<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sinb57.bookmarket.mapper.book.BookMapper">

    <insert id="save" parameterType="book">
        insert into book (CATEGORY_ID, NAME, STOCK, PRICE)
            VALUES ( #{category_id}, #{name}, #{stock}, #{price} )
    </insert>

    <select id="findById" parameterType="Long" resultType="book">
        select id, category_id, name, stock, price from book
            where id = #{id}
    </select>

    <select id="findAll" resultType="book">
        select * from book
    </select>

</mapper>