<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sinb57.bookmarket.mapper.book.CategoryMapper">

    <insert id="save" parameterType="sinb57.bookmarket.dto.book.CategoryDto">
        insert into CATEGORY (NAME) values ( #{name} )
    </insert>

    <select id="findById" parameterType="Long" resultType="sinb57.bookmarket.dto.book.CategoryDto">
        select id, name from CATEGORY where id = #{id}
    </select>

    <select id="findAll" resultType="sinb57.bookmarket.dto.book.CategoryDto">
        select * from CATEGORY;
    </select>
</mapper>